

<style>
  .search-btn{
    background-color: red;
    color: white;
    border-radius: 20px;
   padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: red;
    color: white;
  }

  .search-inp{
    border-radius: 20px;
    padding: 0.5rem 3rem 0.5rem 2rem  ;
    font-size: 1rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light  border-bottom sticky-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
    
          <a class="nav-link" href="/listings">Explore</a>
        </div>


        <form class="d-flex ms-auto" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" aria-label="Search">
          <button class="btn search-btn" type="submit">Search</button>
        </form>


        <div class="navbar-nav ms-auto">
      <!-- if not log in then our website show only signup and login button -->
       <!-- please replaced req.user with currentUser -->
       <a class="nav-link" href="/listings/new">Airbnb your Home</a>
          <% if(!currentUser){ %>
           <a class="nav-link "  href="/signup"><b>Sign up</b></a>
           <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } %>
      <!-- if already login  then show only log out button -->
           <% if(currentUser){ %>
           <a class="nav-link" href="/logout"><b>Log Out</b></a>
          <% } %>
        </div>

      </div>
    </div>
  </nav>