<% layout("./layouts/boilerplate"); %>
<link rel="stylesheet" href="/css/style.css">
<div class="row mt-2">
    <div class="alert alert-danger col-8 offset-3" role="alert">

           <h4 class="alert-heading"><%= errMsg %></h4>
      
